*.log
*.dvi
*.pdf
*.toc
*.thm
*.mtc*
*.aux
*.idx
*.ilg
*.ind
*.maf
*.tdo
*.bbl
*.bcf
*.blg
*.run.xml
*.out.ps
*.synctex.gz
*-gnuplottex-*.eps
*-gnuplottex-*.gnuplot
*-gnuplottex-*.tex
*.gnuploterrors
